body {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #f3f3f3;
}
.bar-top {
  width: 100vw;
  height: 80px;
  background-color: #ffffff;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
.bar-top img {
  width: 75px;
  height: 53px;
}
.bar-top-icon {
  font-size: 42px;
}
.bar-top-box {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  /* background-color: blue; */
}
.bar-bottom {
  width: 100vw;
  height: 80px;
  /* background-color: green; */
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
.bar-bottom-box {
  width: 90vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
}
.bar-bottom-icon {
  font-size: 30px;
}
.input {
  font-size: 18px;
  color: #000000;

  font-weight: 400;
  font-style: italic;
  border: none;
}
.message-box {
  width: 100vw;
  margin-top: 106px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}
.message-inside {
  height: 40px;
  width: 100vw;
  display: flex;
  display: row;
  /* justify-content: center; */
  /* text-align: center; */
  /* align-items: center; */
  background-color: #ffffff;
  margin-bottom: 4px;
  border-radius: 2px;
}
.message {
  /* background-color: #ffffff; */
  /* height: 80px; */
  width: 95vw;
  /* margin-bottom: 4px; */
  font-size: 14px;
  font-weight: 400;
  /* color: #000000; */
  display: flex;
  align-items: center;
  margin-left: 8px;
  flex-wrap: wrap;
  /* border-radius: 2px; */
  /* background-color: blue; */
}
.bold {
  font-weight: bold;
}
.light {
  color: #aaaaaa;
}
.grey {
  background-color: #dcdcdc;
}
.red {
  background-color: #ffdede;
}
